---
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
	<meta name="keywords" content="{{ site.keywords }}">
	<meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="combo.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
	{% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}
</head>
<body>
  <div id="main">

    <nav>
      <ul>
        <li class="p-intro"><a href="#intro">Home</a></li>
        <li class="p-about-me"><a href="#about-me">About Me</a></li>
        <li class="p-skills"><a href="#skills">Skills</a></li>
        <li class="p-experience"><a href="#experience">Experience</a></li>
        <li class="p-contact"><a href="#contact">Contact</a></li>
      </ul>
    </nav>

    <div id="intro" class="section p-intro">
      <div class="container center-center">
        <h1>Hello</h1>
        <div id="rotating-text">
          <h2>I’m Jeff,</h2>
          <div class="tricker">
            <h2>an IT Professional</h2>
            <h2>an Automation Nerd</h2>
            <h2>a WiFi Technician</h2>
            <h2>a macOS Admin</h2>
            <h2>a Windows Admin</h2>
            <h2>a G Suite Prodigy</h2>
            <h2>an Avid Reader</h2>
            <h2>a Support Specialist</h2>
            <h2>a Security Advocate</h2>
            <h2>a Network Wizard</h2>
            <h2>a WebDev Hobbyist</h2>
            <h2>a Slack Aficionado</h2>
          </div>
        </div>
        <h3>
         <a href="https://www.linkedin.com/in/jeffspaulding"><span class="fa fa-linkedin-square"></span> View LinkedIn</a> or <a href="/pdf/Jeff_Spaulding_Resume.pdf"><span class="fa fa-file-text"></span> View Resume</a>
        </h3>
      </div>
    </div>

    <div id="about-me" class="section p-about-me">
      <div class="subtlecircle sectiondivider faicon">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-user fa-stack-1x"></i>
        </span>
      </div>

      <div id="about-me-left"></div>
      <div id="about-me-middle" class="container">
        <h1>Who I am</h1>

        <p>When I was 6 I had a Buzz Lightyear toy, complete with laser beams and sound effects. In my fascination, I took it apart. I destroyed that toy, but I learned a lot in the process. When I was 14, I received my first computer. Eventually, I was able to take it apart <em>and</em> put it back together. I'm driven by the question "How does this work?"</p>

        <p>Gallup believes that maximimizing potential involves developing our natural talents into strengths. According to the Clifton StrengthsFinder, my #1 strength is <strong>Learning</strong>! Followed by Command, Analysis, Deliberation, and Strategy, these strengths contribute toward making informed technical decisions.</p>

        <p>Now, with 8 years of experience working in IT, I’ve found joy in designing and implementing IT solutions that empower business, enhance workplace experience, and reduce operational cost.</p>
      </div>
      <div id="about-me-right"></div>
    </div>

    <div id="skills" class="section p-skills">
      <div class="subtlecircle sectiondivider faicon">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-laptop fa-stack-1x"></i>
        </span>
      </div>

      <div class="container ">
        <h1>What I do</h1>
        <p>I love technology and I love a challenge. I'm constantly diving deep into technical projects and learning new things because of it! Below is a list of the things I've learned so far, but this list is not exhaustive*.</p>
        <p>If your organization requires a skill that's not on the list, <strong>I will swiftly become an expert in that skill.</strong> Just point me in the right direction!</p>
        <div class="row">
          <div class="column-3">
            <h3>Local Administration</h3>
             <ul>
              <li>macOS and Windows</li>
              <li>iOS and Android</li>
              <li>Hardware Repair</li>
              <li>TCP/IP, DHCP, DNS, VLAN, VPN</li>
              <li>WiFi Security and Coverage</li>
              <li>Audiovisual (AV) Systems</li>
              <li>Linux (CentOS and RHEL)</li>
            </ul>
          </div>

          <div class="column-3">
            <h3>IT Operations</h3>
             <ul>
              <li>Help Desk / Service Desk</li>
              <li>Onboarding / Training</li>
              <li>Asset Management</li>
              <li>Documentation</li>
              <li>Procurement</li>
              <li>Budgeting</li>
              <li>Metrics and Reports</li>
            </ul>
          </div>

          <div class="column-3">
            <h3>Cloud Administration</h3>
            <ul>
              <li>Single Sign-On</li>
              <li>Identity and Access Management</li>
              <li>Mobile Device Management</li>
              <li>G Suite</li>
              <li>Office 365</li>
              <li>Slack</li>
              <li>Atlassian (Jira, Confluence)</li>
            </ul>
          </div>
        </div>
      </div>

      <div id="bookshelf">
        <img id="keyboard" class="book" src="/img/apple-keyboard.png">
        <img id="coffee" class="book" src="/img/coffee-large.png">
        <img id="notepad" class="book" src="/img/notebook-large.png">
        <img id="glasses" class="book" src="/img/glasses-large.png">
        <img id="phoenix_project" class="book" src="/img/the-phoenix-project.jpg">
        <img id="phone_habits" class="book" src="/img/7-habits-phone.png">
        <img id="design_everyday" class="book" src="/img/ebook.png">
      </div>

      <div class="container">
        <p>* I also dabble in dozens of hobbies, like web development! I built this website in one week using HTML, CSS, JavaScript, GitHub, and Jekyll. Check out my other dabblings at <a href="http://jeffspaulding-art.tumblr.com">jeffspaulding-art.tumblr.com</a>.</p>
      </div>
    </div>

    <div id="experience" class="section p-experience">
      <div class="subtlecircle sectiondivider faicon">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-building fa-stack-1x"></i>
        </span>
      </div>

      <div class="container">
        <h1>Where I’ve Worked</h1>

        <p>I've worn a lot of hats and I've worked on a lot of projects. Whether it's terminating ethernet cables, deploying company-wide device management, or helping with an email problem, I'll be there.</p>

        <div class="experience">
          <div class="flex-row">
            <div class="flex-col exp-icon">
              <img src="/img/honey-icon.png">
            </div>
            <div class="flex-col">
              <div class="flex-row">
                <div class="flex-row">
                  <div class="flex-col exp-title">
                    IT Generalist
                  </div>
                </div>
                <div class="flex-row">
                  <div class="flex-col exp-name">
                    Honey Science
                  </div>
                  <div class="flex-col exp-timeline">
                    Jun 2018 - Jan 2019
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="flex-row">
            <div class="flex-col exp-icon">
              <img src="/img/naughty-dog-icon.png">
            </div>
            <div class="flex-col">
              <div class="flex-row">
                <div class="flex-row">
                  <div class="flex-col exp-title">
                    IT Generalist
                  </div>
                </div>
                <div class="flex-row">
                  <div class="flex-col exp-name">
                    Naughty Dog
                  </div>
                  <div class="flex-col exp-timeline">
                    Mar 2018 - Jun 2018
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="flex-row">
            <div class="flex-col exp-icon">
              <img src="/img/headspace-icon.png">
            </div>
            <div class="flex-col">
              <div class="flex-row">
                <div class="flex-row">
                  <div class="flex-col exp-title">
                    Systems Administrator
                  </div>
                </div>
                <div class="flex-row">
                  <div class="flex-col exp-name">
                    Headspace
                  </div>
                  <div class="flex-col exp-timeline">
                    Jan 2017 - Oct 2017
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="flex-row">
            <div class="flex-col exp-icon">
              <img src="/img/cgma-icon.png">
            </div>
            <div class="flex-col">
              <div class="flex-row">
                <div class="flex-row">
                  <div class="flex-col exp-title">
                    IT Supervisor
                  </div>
                </div>
                <div class="flex-row">
                  <div class="flex-col exp-name">
                    CG Master Academy
                  </div>
                  <div class="flex-col exp-timeline">
                    Sep 2015 - Dec 2016
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="flex-row">
            <div class="flex-col exp-icon">
              <img src="/img/csun-icon.png">
            </div>
            <div class="flex-col">
              <div class="flex-row">
                <div class="flex-row">
                  <div class="flex-col exp-title">
                    IT Help Center Consultant
                  </div>
                </div>
                <div class="flex-row">
                  <div class="flex-col exp-name">
                    California State University, Northridge
                  </div>
                  <div class="flex-col exp-timeline">
                    Sep 2014 - Sep 2015
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="flex-row">
            <div class="flex-col exp-icon">
              <img src="/img/umaine-icon.png">
            </div>
            <div class="flex-col">
              <div class="flex-row">
                <div class="flex-row">
                  <div class="flex-col exp-title">
                    Student Computer Technician III
                  </div>
                </div>
                <div class="flex-row">
                  <div class="flex-col exp-name">
                    University of Maine
                  </div>
                  <div class="flex-col exp-timeline">
                    May 2011 - Aug 2014
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h1>Where I’ve Studied</h1>

        <p>Most of my relevant experience has been gained on-the-job, but I'm always eager to gain more certificates! I'm currently looking into the Project Management Professional (PMP) Certification.</p>

        <div class="experience">
          <div class="flex-row">
            <div class="flex-col exp-icon">
              <img src="/img/google-icon.png">
            </div>
            <div class="flex-col">
              <div class="flex-row">
                <div class="flex-row">
                  <div class="flex-col exp-title">
                    Google IT Support Specialist Certificate
                  </div>
                </div>
                <div class="flex-row">
                  <div class="flex-col exp-name">
                    Google
                  </div>
                  <div class="flex-col exp-timeline">
                    2018
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="flex-row">
            <div class="flex-col exp-icon">
              <img src="/img/umaine-icon.png">
            </div>
            <div class="flex-col">
              <div class="flex-row">
                <div class="flex-row">
                  <div class="flex-col exp-title">
                    B.A. in New Media
                  </div>
                </div>
                <div class="flex-row">
                  <div class="flex-col exp-name">
                    University of Maine
                  </div>
                  <div class="flex-col exp-timeline">
                    Aug 2008 - May 2013
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="flex-row">
            <div class="flex-col exp-icon">
              <img src="/img/utc-icon.png">
            </div>
            <div class="flex-col">
              <div class="flex-row">
                <div class="flex-row">
                  <div class="flex-col exp-title">
                    Information Technology Certificate
                  </div>
                </div>
                <div class="flex-row">
                  <div class="flex-col exp-name">
                    Unitied Technologies Center
                  </div>
                  <div class="flex-col exp-timeline">
                    2007
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div id="contact" class="section p-contact">
      <div class="subtlecircle sectiondivider faicon">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-envelope fa-stack-1x"></i>
        </span>
      </div>

      <div class="container ">
        <h1>How You Can Find Me</h1>
        <p>Good news! I'm available for work! You can reach me at the following:</p>
        <ul>
          <li>Email: <a href="mailto:jeff@jeffspaulding.io">jeff@jeffspaulding.io</a></li>
          <li>LinkedIn: <a href="https://www.linkedin.com/in/jeffspaulding">www.linkedin.com/in/jeffspaulding</a></li>
          <li>Resume: <a href="/pdf/Jeff_Spaulding_Resume.pdf">View My Resume</a></li>
        </ul>
      </div>
    </div>

    <div id="footer" class="section text-white">
      <div class="container">
        {% capture foottext %} {% include footer.md %} {% endcapture %}
        {{ foottext | markdownify }}
      </div>
    </div>
  </div>

{% include analytics.html %}
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="site.js"></script>
</html>
