---
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
	<meta name="keywords" content="{{ site.keywords }}">
	<meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="combo.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
	{% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}
</head>
<body>
  <div id="main">

    <nav><ul>
      <li class="p-intro"><a href="#intro">Home</a></li>
      <li class="p-about-me"><a href="#about-me">About Me</a></li>
      <li class="p-skills"><a href="#skills">Skills</a></li>
      {% for node in site.posts reversed %}
        {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
        <li class="p-{{id}}"><a href="#{{id}}">{{node.title}}</a></li>
      {% endfor %}
    </ul></nav>

    <div id="intro" class="section p-intro">
      <div class="container center-center">
        <h1>Hello</h1>
        <h3 id="im-jeff">I’m Jeff,</h3>
        <div class="tricker">
          <h3 style="color:yellow;">an IT Professional</h3>
          <h3 style="color:green;">a WiFi Technician</h3>
          <h3 style="color:red;">a macOS Admin</h3>
          <h3 style="color:cyan;">an Avid Reader</h3>
          <h3 style="color:purple;">a Windows Admin</h3>
          <h3 style="color:green;">a G Suite Expert</h3>
          <h3 style="color:red;">a Competitive Gamer</h3>
          <h3 style="color:yellow;">a Web Developer</h3>
          <h3 style="color:green;">a Network Administrator</h3>
          <h3 style="color:cyan;">a Slack Guru</h3>
          <h3 style="color:purple;">a Systems Architect</h3>
          <h3 style="color:red;">a Process Improver</h3>
        </div>
        <h1>
         <a href="https://www.linkedin.com/in/jeffspaulding"><span class="fa fa-linkedin-square"></span></a> <a href="/pdf/Jeff_Spaulding_Resume.pdf"><span class="fa fa-file-text"></span></a>
        </h1>
      </div>
    </div>

    <div id="about-me" class="section p-about-me">
      <div class="subtlecircle sectiondivider faicon">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-user fa-stack-1x"></i>
        </span>
      </div>

      <div class="container ">
        <h1>About Me</h1>

        <p>When I was 6 I had a Buzz Lightyear toy, complete with laser beams and sound effects. Of course, I had to take it apart. I destroyed that toy, but I learned a lot in the process. When I was 14, I received my first computer. Eventually, I was able to take it apart <em>and</em> put it back together.</p>

        <p>Now, with 8 years of experience working in IT, I’ve found joy in designing and implementing IT solutions that empower business, enhance workplace experience, and reduce operational cost.</p>
      </div>
    </div>

    <div id="skills" class="section p-skills">
      <div class="subtlecircle sectiondivider faicon">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-laptop fa-stack-1x"></i>
        </span>
      </div>

      <div class="container ">
        <h1>What I do at Work</h1>
        <p>Gallup believes that maximimizing potential involves developing our natural talents into strengths. According to the Clifton StrengthsFinder, my #1 strength is <strong>Learning</strong>! This is followed by Command, Analytics, Delibration, and Strategy. My focus on these strengths allows me to help make informed technical decisions.</p>
        <p>If your organization requires a skill that's not on the list, <strong>I will swiftly become an expert in that skill.</strong> Just point me in the right direction!</p>
        <div class="row">
          <div class="column-3">
            <h3>Local Administration</h3>
             <ul>
              <li>macOS and Windows</li>
              <li>iOS and Android</li>
              <li>Hardware Repair</li>
              <li>TCP/IP, DHCP, DNS, VLAN, VPN</li>
              <li>WiFi Security and Coverage</li>
              <li>Audiovisual (AV) Systems</li>
              <li>Linux (CentOS and RHEL)</li>
            </ul>
          </div>

          <div class="column-3">
            <h3>IT Operations</h3>
             <ul>
              <li>Help Desk / Service Desk</li>
              <li>Onboarding / Training</li>
              <li>Asset Management</li>
              <li>Documentation</li>
              <li>Procurement</li>
              <li>Budgeting</li>
              <li>Metrics and Reports</li>
            </ul>
          </div>

          <div class="column-3">
            <h3>Cloud Administration</h3>
            <ul>
              <li>Single Sign-On</li>
              <li>Identity and Access Management</li>
              <li>Mobile Device Management</li>
              <li>G Suite</li>
              <li>Office 365</li>
              <li>Slack</li>
              <li>Atlassian (Jira, Confluence)</li>
            </ul>
          </div>
        </div>
      </div>

      <div id="bookshelf">
        <img id="keyboard" class="book" src="/img/apple-keyboard.png">
        <img id="coffee" class="book" src="/img/coffee-large.png">
        <img id="notepad" class="book" src="/img/notebook-large.png">
        <img id="glasses" class="book" src="/img/glasses-large.png">
        <img id="phoenix_project" class="book" src="/img/the_phoenix_project.jpg">
        <img id="phone_habits" class="book" src="/img/7_habits_phone.png">
        <img id="design_everyday" class="book" src="/img/the_design_of_everyday.jpg">
      </div>
    </div>

    {% for page in site.posts reversed %}
      {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
      <div id="{{id}}" class="section p-{{id}}">
        {% if page.icon %}
        <div class="subtlecircle sectiondivider imaged">
          <img src="{{page.icon}}" alt="section icon" />
        </div>
        {% elsif page.fa-icon %}
        <div class="subtlecircle sectiondivider faicon">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-{{ page.fa-icon }} fa-stack-1x"></i>
          </span>
        </div>
        {% endif %}
        <div class="container {{ page.style }}">
          {{ page.content }}
        </div>
      </div>
    {% endfor %}


    <div id="footer" class="section text-white">
      <div class="container">
        {% capture foottext %} {% include footer.md %} {% endcapture %}
        {{ foottext | markdownify }}
      </div>
    </div>
  </div>

{% include analytics.html %}
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="site.js"></script>
</html>
