nav .p-about-me {
  border-color: #2196F3;
}

nav .p-skills {
  border-color: #4CAF50;
}

#intro {
  background-color: black !important;
  color: white;
}

#intro a {
  color: white;
}

#intro a:visited {
  color: white;
}

#intro a:hover {
  color: #0077B5;
}

#im-jeff {
  margin-bottom:0;
}

.tricker {
  height: 50px;
  overflow: hidden;
}

.tricker h3 {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: margin-top .3s ease;
}

#about-me {
  background-color: #2196F3 !important;
  color: white;
  display: flex;
}

#about-me a {
  color: white;
}

#about-me .sectiondivider {
  color: #2196F3;
}

#about-me-left, #about-me-right {
  display: flex;
  flex: 1;
  position: relative;
  top: -100px;
  margin-bottom: -200px;
}

#about-me-left {
  background-image: url("/img/imac-desk.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

#about-me-right {
  background-image: url("/img/macbook-desk.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

#skills {
  background-color: #4CAF50 !important;
  color: white;
}

#skills a {
  color: white;
}

#skills .sectiondivider {
  color: #4CAF50;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-3 {
  width: 320px;
}

.column-3 h3 {
  text-align: left;
}

#bookshelf {
  width: 100%;
  height: 100vh;
  position: relative;
}

.book {
  position: absolute;
}

#keyboard {
  width: 35%;
  left: 30%;
  top: 5%;
  transform: rotate(-5deg);
}

#phoenix_project {
  transform: rotate(5deg);
  left: 15%;
  bottom: 0%;
  z-index: 4;
  width: 18%;
}

#design_everyday {
  transform: rotate(-10deg);
  left: 0%;
  top: 10%;
  z-index: 2;
  width: 18%;
}

#phone_habits {
  width: 18%;
  transform: rotate(5deg);
  right: 5%;
  top: 0%;
  z-index: 5;
}

#glasses {
  right: 25%;
  bottom: 45%;
  z-index: 7;
  width: 15%;
}

#coffee {
  right: 24%;
  bottom: 10%;
  z-index: 8;
  width: 12%;
}

#notepad {
  right: 40%;
  bottom: 0%;
  width: 23%;
  z-index: 6;
}