nav .p-about-me {
  border-color: #2196F3;
}

nav .p-skills {
  border-color: #4CAF50;
}

#intro {
  background-color: black !important;
  color: white;
}

#intro a {
  color: white;
}

#intro a:visited {
  color: white;
}

#intro a:hover {
  color: #0077B5;
}

#im-jeff {
  margin-bottom:0;
}

.tricker {
  height: 50px;
  overflow: hidden;
}

.tricker h3 {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: margin-top .3s ease;
}

#about-me {
  background-color: #2196F3 !important;
  color: white;
  background-image: url(/img/laptop-large.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 400px;
  background-position-x: -250px;
}

#about-me a {
  color: white;
}

#about-me .sectiondivider {
  color: #2196F3;
}

#skills {
  background-color: #4CAF50 !important;
  color: white;
}

#skills a {
  color: white;
}

#skills .sectiondivider {
  color: #4CAF50;
}

.row {
  content: "";
  display: table;
  clear: both;
  width: 100%;
}

.column-3 {
  width: 33%;
  float: left;
}

.column-3 h3 {
  text-align: left;
}

#bookshelf {
  width: 100%;
  height: 100vh;
  position: relative;
}

.book {
  width: 200px;
  position: absolute;
}

#keyboard {
  width: 600px;
  left: 30%;
  top: 5%;
  transform: rotate(-5deg);
}

#phoenix_project {
  transform: rotate(5deg);
  left: 15%;
  bottom: 5%;
  z-index: 4;
  width: 230px;
}

#phone_habits {
  width: 300px;
  transform: rotate(5deg);
  right: 10%;
  top: 0%;
  z-index: 5;
}

#dont_think {
  right: 5%;
  top: 45%;
  z-index: 3;
}

#design_everyday {
  transform: rotate(-10deg);
  left: 5%;
  top: 10%;
  z-index: 2;
}

#glasses {
  right: 30%;
  bottom: 45%;
  z-index: 7;
}

#coffee {
  right: 24%;
  bottom: 10%;
  z-index: 8;
}

#notepad {
  right: 40%;
  bottom: 0%;
  width: 380px;
  z-index: 6;
}